<!DOCTYPE html>
<html lang="en">
        <head>
                <title>Her Diary</title>
                <meta charset="utf-8" />
                 <link rel="stylesheet" href="/css/main.css">
        </head>
        <body>
        	<header>
                <div id="top"></div>
                <img src="/images/logo.png" id="logo" />
                <img src="/images/blogname.png" id="blogname"/>            
            </header>
                <nav>
                    <ul>
                    	<li><a class="current" href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Search</a></li>
                        <li><a href="#">RSS</a></li>
                    </ul>
                </nav>

                <% console.log(posts[3]) %>

                <% for(var i = 0; i < posts.length; i++){ %>
                


                <section class="post">
                    <div id="date">
                        <p class="day">11</p>
                        <p class="month">Nov</p>
                    </div>
                    <p class="view" data-postid="<%= posts[i]._id %>">View Post</p>

                    <h4><%= posts[i].title %></h4>
                    
                    <h4><%= posts[i].author %></h4>
               
                    <h4><%= posts[i].category %></h4>
                
                    <p id="text"><%= posts[i].text %></p>
                </section>

                <% }; %>

        </body>
</html>